<?xml version="1.0"?>
<config>
    <modules>
        <Arvtour_Tour>
            <version>0.1.0</version>
        </Arvtour_Tour>
    </modules>
    <frontend>
        <routers>
            <tour>
                <use>standard</use>
                <args>
                    <module>Arvtour_Tour</module>
                    <frontName>tour</frontName>
                </args>
            </tour>
        </routers>
        <layout>
            <updates>
                <tour>
                    <file>tour.xml</file>
                </tour>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<tour>
				<use>admin</use>
				<args>
					<module>Arvtour_Tour</module>
					<frontName>tour</frontName>
				</args>
			</tour>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<tour module="tour">
				<title>Tour</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="tour">
						<title>Manage Tour Items</title>
						<sort_order>0</sort_order>
						<action>tour/adminhtml_tour</action>
					</items>
				</children>
			</tour>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Arvtour_Tour>
							<title>Tour Module</title>
							<sort_order>10</sort_order>
						</Arvtour_Tour>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<tour>
					<file>tour.xml</file>
				</tour>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <tour>
                <class>Arvtour_Tour_Model</class>
                <resourceModel>tour_mysql4</resourceModel>
            </tour>
            <tour_mysql4>
                <class>Arvtour_Tour_Model_Mysql4</class>
                <entities>
                    <tour>
                        <table>tour</table>
                    </tour>
                </entities>
            </tour_mysql4>
        </models>
        <resources>
            <tour_setup>
                <setup>
                    <module>Arvtour_Tour</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tour_setup>
            <tour_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tour_write>
            <tour_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tour_read>
        </resources>
        <blocks>
            <tour>
                <class>Arvtour_Tour_Block</class>
            </tour>
        </blocks>
        <helpers>
            <tour>
                <class>Arvtour_Tour_Helper</class>
            </tour>
        </helpers>
    </global>
	<default>
		<tourconfig>
			<tour_group>
				<ft_enabled>1</ft_enabled>
				<ft_load_jq>1</ft_load_jq>
				<ft_repeat>1</ft_repeat>
				<ft_text>Start New Feature Tour</ft_text>
			</tour_group>
		</tourconfig>
	</default>
</config>